In [13]:
import pandas as pd

# 데이터 파일 불러오기
data_path = './data_in/total_df.csv'
data = pd.read_csv(data_path)

# 데이터의 첫 몇 행 확인
data.head()

C:\Users\USER\AppData\Local\Temp\ipykernel_29828\4230433344.py:5: DtypeWarning: Columns (16,17,18,19) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(data_path)

,Order_id,Order_item_id,Product_id,Seller_id,Price,Freight_value,Customer_id,Order_status,Order_purchase_timestamp,Order_delivered_carrier_date,...,Customer_city,Customer_state,Payment_sequential,Payment_type,Payment_installments,Payment_value,Review_id,Review_score,Review_creation_date,Review_answer_timestamp
0,ORDER_75477,1,PRODUCT_23128,SELLER_0452,58.9,13.29,CUSTOMER_58023,delivered,2018-09-13 08:59:02,2018-09-19 18:34:16,...,campos dos goytacazes,RJ,1,credit_card,2,72.19,REVIEW_45875,5.0,2018-09-21 00:00:00,2018-09-22 10:57:03
1,ORDER_63604,1,PRODUCT_24351,SELLER_0414,239.9,19.93,CUSTOMER_30341,delivered,2018-04-26 10:53:06,2018-05-04 14:35:00,...,santa fe do sul,SP,1,credit_card,3,259.83,REVIEW_24615,4.0,2018-05-13 00:00:00,2018-05-15 11:34:13
2,ORDER_05566,1,PRODUCT_20226,SELLER_1637,199.0,17.87,CUSTOMER_30949,delivered,2019-01-14 14:33:31,2019-01-16 12:36:48,...,para de minas,MG,1,credit_card,5,216.87,REVIEW_03775,5.0,2019-01-23 00:00:00,2019-01-23 16:06:31
3,ORDER_04632,1,PRODUCT_07878,SELLER_1445,199.9,18.14,CUSTOMER_06713,delivered,2018-02-04 13:57:51,2018-02-16 09:46:09,...,varzea paulista,SP,1,credit_card,3,218.04,REVIEW_49155,5.0,2018-03-02 00:00:00,2018-03-03 10:54:59
4,ORDER_61452,1,PRODUCT_03505,SELLER_0581,21.9,12.69,CUSTOMER_20396,delivered,2018-05-15 21:42:34,2018-05-17 11:05:55,...,uberaba,MG,1,boleto,1,34.59,REVIEW_20134,4.0,2018-05-23 00:00:00,2018-05-24 19:00:09

In [14]:
# 결측치 및 데이터 타입 확인
data_info = data.info()
missing_values = data.isnull().sum()

data_info, missing_values[missing_values > 0]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105766 entries, 0 to 105765
Data columns (total 33 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Order_id                       105766 non-null  object
 1   Order_item_id                  105766 non-null  int64
 2   Product_id                     105766 non-null  object
 3   Seller_id                      105766 non-null  object
 4   Price                          105766 non-null  float64
 5   Freight_value                  105766 non-null  float64
 6   Customer_id                    105766 non-null  object
 7   Order_status                   105766 non-null  object
 8   Order_purchase_timestamp       105766 non-null  object
 9   Order_delivered_carrier_date   105766 non-null  object
 10  Order_delivered_customer_date  105766 non-null  object
 11  Order_estimated_delivery_date  105766 non-null  object
 12  Seller_zipcode_prefix          105766 non-null  int64
 13  Seller_city                    105766 non-null  object
 14  Seller_state                   105766 non-null  object
 15  Product_category_name          105766 non-null  object
 16  Product_weight_g               105766 non-null  object
 17  Product_length_cm              105766 non-null  object
 18  Product_height_cm              105766 non-null  object
 19  Product_width_cm               105766 non-null  object
 20  Revenue                        105766 non-null  float64
 21  Customer_unique_id             105766 non-null  object
 22  Customer_zipcode_prefix        105766 non-null  int64
 23  Customer_city                  105766 non-null  object
 24  Customer_state                 105766 non-null  object
 25  Payment_sequential             105766 non-null  int64
 26  Payment_type                   105766 non-null  object
 27  Payment_installments           105766 non-null  int64
 28  Payment_value                  105766 non-null  float64
 29  Review_id                      104956 non-null  object
 30  Review_score                   104956 non-null  float64
 31  Review_creation_date           104956 non-null  object
 32  Review_answer_timestamp        104956 non-null  object
dtypes: float64(5), int64(5), object(23)
memory usage: 26.6+ MB

(None,
 Review_id                  810
 Review_score               810
 Review_creation_date       810
 Review_answer_timestamp    810
 dtype: int64)

In [15]:
# 리뷰 관련 결측치 제거
data_clean = data.dropna(subset=['Review_id', 'Review_score', 'Review_creation_date', 'Review_answer_timestamp'])

# 데이터 타입 변환
columns_to_convert = ['Product_weight_g', 'Product_length_cm', 'Product_height_cm', 'Product_width_cm']
data_clean[columns_to_convert] = data_clean[columns_to_convert].apply(pd.to_numeric, errors='coerce')

# 변환 후 결측치 다시 확인
data_clean.info()
additional_missing = data_clean[columns_to_convert].isnull().sum()
data_clean.head(), additional_missing

<class 'pandas.core.frame.DataFrame'>
Index: 104956 entries, 0 to 105765
Data columns (total 33 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Order_id                       104956 non-null  object
 1   Order_item_id                  104956 non-null  int64
 2   Product_id                     104956 non-null  object
 3   Seller_id                      104956 non-null  object
 4   Price                          104956 non-null  float64
 5   Freight_value                  104956 non-null  float64
 6   Customer_id                    104956 non-null  object
 7   Order_status                   104956 non-null  object
 8   Order_purchase_timestamp       104956 non-null  object
 9   Order_delivered_carrier_date   104956 non-null  object
 10  Order_delivered_customer_date  104956 non-null  object
 11  Order_estimated_delivery_date  104956 non-null  object
 12  Seller_zipcode_prefix          104956 non-null  int64
 13  Seller_city                    104956 non-null  object
 14  Seller_state                   104956 non-null  object
 15  Product_category_name          104956 non-null  object
 16  Product_weight_g               104936 non-null  float64
 17  Product_length_cm              104936 non-null  float64
 18  Product_height_cm              104936 non-null  float64
 19  Product_width_cm               104936 non-null  float64
 20  Revenue                        104956 non-null  float64
 21  Customer_unique_id             104956 non-null  object
 22  Customer_zipcode_prefix        104956 non-null  int64
 23  Customer_city                  104956 non-null  object
 24  Customer_state                 104956 non-null  object
 25  Payment_sequential             104956 non-null  int64
 26  Payment_type                   104956 non-null  object
 27  Payment_installments           104956 non-null  int64
 28  Payment_value                  104956 non-null  float64
 29  Review_id                      104956 non-null  object
 30  Review_score                   104956 non-null  float64
 31  Review_creation_date           104956 non-null  object
 32  Review_answer_timestamp        104956 non-null  object
dtypes: float64(9), int64(5), object(19)
memory usage: 27.2+ MB

C:\Users\USER\AppData\Local\Temp\ipykernel_29828\2839388903.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_clean[columns_to_convert] = data_clean[columns_to_convert].apply(pd.to_numeric, errors='coerce')

(      Order_id  Order_item_id     Product_id    Seller_id  Price  \
 0  ORDER_75477              1  PRODUCT_23128  SELLER_0452   58.9
 1  ORDER_63604              1  PRODUCT_24351  SELLER_0414  239.9
 2  ORDER_05566              1  PRODUCT_20226  SELLER_1637  199.0
 3  ORDER_04632              1  PRODUCT_07878  SELLER_1445  199.9
 4  ORDER_61452              1  PRODUCT_03505  SELLER_0581   21.9

    Freight_value     Customer_id Order_status Order_purchase_timestamp  \
 0          13.29  CUSTOMER_58023    delivered      2018-09-13 08:59:02
 1          19.93  CUSTOMER_30341    delivered      2018-04-26 10:53:06
 2          17.87  CUSTOMER_30949    delivered      2019-01-14 14:33:31
 3          18.14  CUSTOMER_06713    delivered      2018-02-04 13:57:51
 4          12.69  CUSTOMER_20396    delivered      2018-05-15 21:42:34

   Order_delivered_carrier_date  ...          Customer_city Customer_state  \
 0          2018-09-19 18:34:16  ...  campos dos goytacazes             RJ
 1          2018-05-04 14:35:00  ...        santa fe do sul             SP
 2          2019-01-16 12:36:48  ...          para de minas             MG
 3          2018-02-16 09:46:09  ...        varzea paulista             SP
 4          2018-05-17 11:05:55  ...                uberaba             MG

    Payment_sequential Payment_type Payment_installments Payment_value  \
 0                   1  credit_card                    2         72.19
 1                   1  credit_card                    3        259.83
 2                   1  credit_card                    5        216.87
 3                   1  credit_card                    3        218.04
 4                   1       boleto                    1         34.59

       Review_id  Review_score  Review_creation_date  Review_answer_timestamp
 0  REVIEW_45875           5.0   2018-09-21 00:00:00      2018-09-22 10:57:03
 1  REVIEW_24615           4.0   2018-05-13 00:00:00      2018-05-15 11:34:13
 2  REVIEW_03775           5.0   2019-01-23 00:00:00      2019-01-23 16:06:31
 3  REVIEW_49155           5.0   2018-03-02 00:00:00      2018-03-03 10:54:59
 4  REVIEW_20134           4.0   2018-05-23 00:00:00      2018-05-24 19:00:09

 [5 rows x 33 columns],
 Product_weight_g     20
 Product_length_cm    20
 Product_height_cm    20
 Product_width_cm     20
 dtype: int64)

In [16]:
# 추가 결측치 제거
data_clean = data_clean.dropna()

# 최종 데이터 확인
final_data_info = data_clean.info()
final_sample = data_clean.head()
final_data_info, final_sample

<class 'pandas.core.frame.DataFrame'>
Index: 104936 entries, 0 to 105765
Data columns (total 33 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Order_id                       104936 non-null  object
 1   Order_item_id                  104936 non-null  int64
 2   Product_id                     104936 non-null  object
 3   Seller_id                      104936 non-null  object
 4   Price                          104936 non-null  float64
 5   Freight_value                  104936 non-null  float64
 6   Customer_id                    104936 non-null  object
 7   Order_status                   104936 non-null  object
 8   Order_purchase_timestamp       104936 non-null  object
 9   Order_delivered_carrier_date   104936 non-null  object
 10  Order_delivered_customer_date  104936 non-null  object
 11  Order_estimated_delivery_date  104936 non-null  object
 12  Seller_zipcode_prefix          104936 non-null  int64
 13  Seller_city                    104936 non-null  object
 14  Seller_state                   104936 non-null  object
 15  Product_category_name          104936 non-null  object
 16  Product_weight_g               104936 non-null  float64
 17  Product_length_cm              104936 non-null  float64
 18  Product_height_cm              104936 non-null  float64
 19  Product_width_cm               104936 non-null  float64
 20  Revenue                        104936 non-null  float64
 21  Customer_unique_id             104936 non-null  object
 22  Customer_zipcode_prefix        104936 non-null  int64
 23  Customer_city                  104936 non-null  object
 24  Customer_state                 104936 non-null  object
 25  Payment_sequential             104936 non-null  int64
 26  Payment_type                   104936 non-null  object
 27  Payment_installments           104936 non-null  int64
 28  Payment_value                  104936 non-null  float64
 29  Review_id                      104936 non-null  object
 30  Review_score                   104936 non-null  float64
 31  Review_creation_date           104936 non-null  object
 32  Review_answer_timestamp        104936 non-null  object
dtypes: float64(9), int64(5), object(19)
memory usage: 27.2+ MB

(None,
       Order_id  Order_item_id     Product_id    Seller_id  Price  \
 0  ORDER_75477              1  PRODUCT_23128  SELLER_0452   58.9
 1  ORDER_63604              1  PRODUCT_24351  SELLER_0414  239.9
 2  ORDER_05566              1  PRODUCT_20226  SELLER_1637  199.0
 3  ORDER_04632              1  PRODUCT_07878  SELLER_1445  199.9
 4  ORDER_61452              1  PRODUCT_03505  SELLER_0581   21.9

    Freight_value     Customer_id Order_status Order_purchase_timestamp  \
 0          13.29  CUSTOMER_58023    delivered      2018-09-13 08:59:02
 1          19.93  CUSTOMER_30341    delivered      2018-04-26 10:53:06
 2          17.87  CUSTOMER_30949    delivered      2019-01-14 14:33:31
 3          18.14  CUSTOMER_06713    delivered      2018-02-04 13:57:51
 4          12.69  CUSTOMER_20396    delivered      2018-05-15 21:42:34

   Order_delivered_carrier_date  ...          Customer_city Customer_state  \
 0          2018-09-19 18:34:16  ...  campos dos goytacazes             RJ
 1          2018-05-04 14:35:00  ...        santa fe do sul             SP
 2          2019-01-16 12:36:48  ...          para de minas             MG
 3          2018-02-16 09:46:09  ...        varzea paulista             SP
 4          2018-05-17 11:05:55  ...                uberaba             MG

    Payment_sequential Payment_type Payment_installments Payment_value  \
 0                   1  credit_card                    2         72.19
 1                   1  credit_card                    3        259.83
 2                   1  credit_card                    5        216.87
 3                   1  credit_card                    3        218.04
 4                   1       boleto                    1         34.59

       Review_id  Review_score  Review_creation_date  Review_answer_timestamp
 0  REVIEW_45875           5.0   2018-09-21 00:00:00      2018-09-22 10:57:03
 1  REVIEW_24615           4.0   2018-05-13 00:00:00      2018-05-15 11:34:13
 2  REVIEW_03775           5.0   2019-01-23 00:00:00      2019-01-23 16:06:31
 3  REVIEW_49155           5.0   2018-03-02 00:00:00      2018-03-03 10:54:59
 4  REVIEW_20134           4.0   2018-05-23 00:00:00      2018-05-24 19:00:09

 [5 rows x 33 columns])

In [17]:
from datetime import datetime

# 배송 속도와 리뷰 응답 속도 계산
data_clean['Order_purchase_timestamp'] = pd.to_datetime(data_clean['Order_purchase_timestamp'])
data_clean['Order_delivered_customer_date'] = pd.to_datetime(data_clean['Order_delivered_customer_date'])
data_clean['Review_creation_date'] = pd.to_datetime(data_clean['Review_creation_date'])
data_clean['Review_answer_timestamp'] = pd.to_datetime(data_clean['Review_answer_timestamp'])

# 배송 속도 (일 단위)
data_clean['Delivery_speed'] = (data_clean['Order_delivered_customer_date'] - data_clean['Order_purchase_timestamp']).dt.days

# 리뷰 응답 속도 (일 단위)
data_clean['Review_response_time'] = (data_clean['Review_answer_timestamp'] - data_clean['Review_creation_date']).dt.days

# 기존 특성 확인 및 추가
data_clean['Number_of_products_per_order'] = data_clean.groupby('Order_id')['Order_item_id'].transform('count')

# 각 판매자와 상품의 평균 리뷰 점수
data_clean['Seller_average_review_score'] = data_clean.groupby('Seller_id')['Review_score'].transform('mean')
data_clean['Product_average_review_score'] = data_clean.groupby('Product_id')['Review_score'].transform('mean')

# 셀러에 대한 고객 충성도 (셀러별 재구매 비율)
customer_seller_repeated_purchases = data_clean.groupby(['Customer_unique_id', 'Seller_id']).size().reset_index(name='Counts')
loyal_customers = customer_seller_repeated_purchases[customer_seller_repeated_purchases['Counts'] > 1].groupby('Seller_id').size().reset_index(name='Loyal_Customer_Count')
data_clean = data_clean.merge(loyal_customers, on='Seller_id', how='left')
data_clean['Loyal_Customer_Count'] = data_clean['Loyal_Customer_Count'].fillna(0)

# 각 상품의 평균 가격 및 동일 상품의 가격 경쟁력 (상품별 평균 가격)
product_price_competitiveness = data_clean.groupby('Product_id')['Price'].mean().reset_index(name='Average_Product_Price')
data_clean = data_clean.merge(product_price_competitiveness, on='Product_id', how='left')
data_clean['Price_competitiveness'] = data_clean['Price'] - data_clean['Average_Product_Price']

# 필요한 데이터 열 선택 및 확인
data_clean[['Delivery_speed', 'Review_response_time', 'Number_of_products_per_order', 'Seller_average_review_score', 'Product_average_review_score', 'Loyal_Customer_Count', 'Price_competitiveness']].head()

,Delivery_speed,Review_response_time,Number_of_products_per_order,Seller_average_review_score,Product_average_review_score,Loyal_Customer_Count,Price_competitiveness
0,7,1,1,4.019481,3.818182,17.0,0.272727
1,16,2,1,3.769231,4.000000,24.0,0.000000
2,7,0,1,3.785714,4.333333,2.0,0.000000
3,25,1,1,3.675676,4.090909,2.0,-2.727273
4,6,1,1,4.192308,4.000000,2.0,0.000000

## 선형회귀 ↓

In [23]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
import numpy as np
import random

# 데이터 준비
features = ['Delivery_speed', 'Review_response_time', 'Number_of_products_per_order', 
            'Seller_average_review_score', 'Product_average_review_score', 
            'Loyal_Customer_Count', 'Price_competitiveness']
X = data_clean[features]
y = data_clean['Payment_value']  # 예를 들어, 주문당 결제한 가격을 결과 변수로 사용

# 데이터 분할: 트레인 80%, 테스트 20%
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=random.randint(1, 100))

# 선형 회귀 모델 구축
model = LinearRegression()
model.fit(X_train, y_train)

# 테스트 데이터에 대한 예측
y_pred = model.predict(X_test)

# 모델 평가
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

mse, r2

(60169.29236339699, 0.018194044348348926)

In [24]:
from sklearn.preprocessing import LabelEncoder

# 주문 개수(고객별)
data_clean['Orders_count'] = data_clean.groupby('Customer_unique_id')['Order_id'].transform('nunique')

# 더미 변수 생성
data_clean['Order_status_completed'] = (data_clean['Order_status'] == 'delivered').astype(int)
data_clean['Payment_type_encoded'] = LabelEncoder().fit_transform(data_clean['Payment_type'])
data_clean['Customer_city_encoded'] = LabelEncoder().fit_transform(data_clean['Customer_city'])

# 추가적으로 고려할 특성
additional_features = ['Order_status_completed', 'Payment_type_encoded', 'Customer_city_encoded', 'Orders_count']

# 기존 특성과 합치기
all_features = features + additional_features
X = data_clean[all_features]
y = data_clean['Payment_value']  # 예를 들어, 주문당 결제한 가격을 결과 변수로 사용

# 데이터 분할: 트레인 80%, 테스트 20%
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=random.randint(1, 100))

# 선형 회귀 모델 구축
model = LinearRegression()
model.fit(X_train, y_train)

# 테스트 데이터에 대한 예측
y_pred = model.predict(X_test)

# 모델 평가
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

mse, r2

(69205.91602307296, 0.04144160078183223)

## 랜덤 포레스트 ↓

In [22]:
from sklearn.ensemble import RandomForestRegressor


# 랜덤 포레스트 회귀 모델 구축
rf_model = RandomForestRegressor(n_estimators=200, random_state=random.randint(1, 100))  # 200개의 트리 사용, 무작위 시드 적용
rf_model.fit(X_train, y_train)

# 테스트 데이터에 대한 예측
y_pred_rf = rf_model.predict(X_test)

# 모델 평가
mse_rf = mean_squared_error(y_test, y_pred_rf)
r2_rf = r2_score(y_test, y_pred_rf)

mse_rf, r2_rf

(23824.616316333762, 0.6585749251009139)