## 01. 데이터 전처리

#### 01-1 서울시 스타벅스 매장 목록, 인구, 사업체 데이터에 시군구명, 시군구 코드 추가

In [6]:
# 서울시 스타벅스 매장 목록이 담긴 파일 불러오기
import pandas as pd

seoul_starbucks = pd.read_csv('./files/starbucks.csv')

seoul_starbucks.drop('Unnamed: 0', axis= 1, inplace= True)

In [10]:
# 스타벅스 주소 정보에서 시군구명 추출
    # 주소를 통해 구를 추출
    # 추출된 구를 다른 데이터들과 조인할 매개체로 사용하지 않을까 ??

sgg_names = []

for address in seoul_starbucks['주소']:
    sgg = address.split()[1]
    sgg_names.append(sgg)

seoul_starbucks['시군구명'] = sgg_names
seoul_starbucks.head()

,매장명,위도,경도,매장타입,주소,전화번호,시군구명
0,역삼아레나빌딩,37.501087,127.043069,리저브 매장 2번,서울특별시 강남구 언주로 425 (역삼동),1522-3232,강남구
1,논현역사거리,37.510178,127.022223,리저브 매장 2번,서울특별시 강남구 강남대로 538 (논현동),1522-3232,강남구
2,신사역성일빌딩,37.513931,127.020606,리저브 매장 2번,서울특별시 강남구 강남대로 584 (논현동),1522-3232,강남구
3,국기원사거리,37.499517,127.031495,리저브 매장 2번,서울특별시 강남구 테헤란로 125 (역삼동),1522-3232,강남구
4,대치재경빌딩,37.494668,127.062583,리저브 매장 2번,서울특별시 강남구 남부순환로 2947 (대치동),1522-3232,강남구

In [11]:
seoul_starbucks.to_excel('./files/seoul_starbucks_list.xlsx', index= False)

## 01-2 스타벅스 분석 데이터 만들기

In [13]:
seoul_sgg = pd.read_excel('./files/seoul_sgg_list.xlsx')
seoul_sgg.head()

   시군구코드  시군구명         위도          경도
0  11320   도봉구  37.665861  127.031767
1  11380   은평구  37.617612  126.922700
2  11230  동대문구  37.583801  127.050700
3  11590   동작구  37.496504  126.944307
4  11545   금천구  37.460097  126.900155

In [35]:
pivot = seoul_starbucks.pivot_table(
    values= '매장명',
    index= '시군구명',
    aggfunc= 'count'
)

In [36]:
seoul_starbucks_total = pd.merge(seoul_sgg, pivot, on= '시군구명')

In [43]:
seoul_starbucks_total.rename(columns= {'매장명' : '스타벅스_매장수'}, inplace= True)

In [45]:
seoul_starbucks_total

    시군구코드  시군구명         위도          경도  스타벅스_매장수
0   11320   도봉구  37.665861  127.031767         7
1   11380   은평구  37.617612  126.922700        14
2   11230  동대문구  37.583801  127.050700        13
3   11590   동작구  37.496504  126.944307        11
4   11545   금천구  37.460097  126.900155        13
5   11530   구로구  37.495486  126.858121        14
6   11110   종로구  37.599100  126.986149        40
7   11305   강북구  37.646995  127.014716         6
8   11260   중랑구  37.595379  127.093967         8
9   11680   강남구  37.495985  127.066409        91
10  11500   강서구  37.565762  126.822656        27
11  11140    중구  37.557945  126.994190        53
12  11740   강동구  37.549208  127.146482        17
13  11215   광진구  37.548144  127.085753        19
14  11440   마포구  37.562291  126.908780        36
15  11650   서초구  37.476953  127.037810        47
16  11290   성북구  37.606991  127.023218        15
17  11350   노원구  37.655264  127.077120        14
18  11710   송파구  37.504853  127.114482        36
19  11410  서대문구  37.582037  126.935666        22
20  11470   양천구  37.527062  126.856153        17
21  11560  영등포구  37.520641  126.913924        41
22  11620   관악구  37.465399  126.943807        12
23  11200   성동구  37.550675  127.040962        14
24  11170   용산구  37.531101  126.981074        24

In [46]:
# 서울시 시군구 목록 데이터에 서울시 시군구별 사업체 수 통계 데이터를 병합

seoul_sgg_biz = pd.read_excel('./files/sgg_biz.xlsx')

seoul_sgg = pd.merge(seoul_sgg, seoul_sgg_biz, how= 'left', on= '시군구명')

In [49]:
seoul_sgg.to_excel('./files/seoul_sgg_stat.xlsx', index= False)