## 01. 데이터 전처리

#### 01-1 서울시 스타벅스 매장 목록, 인구, 사업체 데이터에 시군구명, 시군구 코드 추가

In [56]:
# 서울시 스타벅스 매장 목록이 담긴 파일 불러오기
import pandas as pd

seoul_starbucks = pd.read_csv('./files/starbucks.csv')

seoul_starbucks.drop('Unnamed: 0', axis= 1, inplace= True)

In [57]:
# 스타벅스 주소 정보에서 시군구명 추출
    # 주소를 통해 구를 추출
    # 추출된 구를 다른 데이터들과 조인할 매개체로 사용하지 않을까 ??

sgg_names = []

for address in seoul_starbucks['주소']:
    sgg = address.split()[1]
    sgg_names.append(sgg)

seoul_starbucks['시군구명'] = sgg_names
seoul_starbucks.head()

,매장명,위도,경도,매장타입,주소,전화번호,시군구명
0,역삼아레나빌딩,37.501087,127.043069,pin_general,서울특별시 강남구 언주로 425 (역삼동),1522-3232,강남구
1,논현역사거리,37.510178,127.022223,pin_general,서울특별시 강남구 강남대로 538 (논현동),1522-3232,강남구
2,신사역성일빌딩,37.513931,127.020606,pin_general,서울특별시 강남구 강남대로 584 (논현동),1522-3232,강남구
3,국기원사거리,37.499517,127.031495,pin_general,서울특별시 강남구 테헤란로 125 (역삼동),1522-3232,강남구
4,대치재경빌딩,37.494668,127.062583,pin_general,서울특별시 강남구 남부순환로 2947 (대치동),1522-3232,강남구

In [58]:
seoul_starbucks.to_excel('./files/seoul_starbucks_list.xlsx', index= False)

## 01-2 스타벅스 분석 데이터 만들기

In [59]:
seoul_sgg = pd.read_excel('./files/seoul_sgg_list.xlsx')
seoul_sgg.head()

   시군구코드  시군구명         위도          경도
0  11320   도봉구  37.665861  127.031767
1  11380   은평구  37.617612  126.922700
2  11230  동대문구  37.583801  127.050700
3  11590   동작구  37.496504  126.944307
4  11545   금천구  37.460097  126.900155

In [60]:
pivot = seoul_starbucks.pivot_table(
    values= '매장명',
    index= '시군구명',
    aggfunc= 'count'
)

In [61]:
seoul_starbucks_total = pd.merge(seoul_sgg, pivot, on= '시군구명')

In [62]:
seoul_starbucks_total.rename(columns= {'매장명' : '스타벅스_매장수'}, inplace= True)

In [63]:
seoul_starbucks_total

    시군구코드  시군구명         위도          경도  스타벅스_매장수
0   11320   도봉구  37.665861  127.031767         7
1   11380   은평구  37.617612  126.922700        14
2   11230  동대문구  37.583801  127.050700        13
3   11590   동작구  37.496504  126.944307        11
4   11545   금천구  37.460097  126.900155        13
5   11530   구로구  37.495486  126.858121        14
6   11110   종로구  37.599100  126.986149        39
7   11305   강북구  37.646995  127.014716         6
8   11260   중랑구  37.595379  127.093967         8
9   11680   강남구  37.495985  127.066409        91
10  11500   강서구  37.565762  126.822656        27
11  11140    중구  37.557945  126.994190        53
12  11740   강동구  37.549208  127.146482        17
13  11215   광진구  37.548144  127.085753        19
14  11440   마포구  37.562291  126.908780        36
15  11650   서초구  37.476953  127.037810        47
16  11290   성북구  37.606991  127.023218        15
17  11350   노원구  37.655264  127.077120        14
18  11710   송파구  37.504853  127.114482        36
19  11410  서대문구  37.582037  126.935666        22
20  11470   양천구  37.527062  126.856153        17
21  11560  영등포구  37.520641  126.913924        41
22  11620   관악구  37.465399  126.943807        12
23  11200   성동구  37.550675  127.040962        14
24  11170   용산구  37.531101  126.981074        24

In [64]:
# 서울시 시군구별 인구통계 데이터 불러오기
seoul_sgg_pop = pd.read_excel('./files/sgg_pop.xlsx')
seoul_sgg_pop

    시군구명  주민등록인구
0    종로구  152212
1     중구  131390
2    용산구  232482
3    성동구  287240
4    광진구  350925
5   동대문구  354884
6    중랑구  389928
7    성북구  441855
8    강북구  296934
9    도봉구  312858
10   노원구  506989
11   은평구  468766
12  서대문구  321966
13   마포구  376542
14   양천구  442345
15   강서구  573711
16   구로구  417983
17   금천구  242467
18  영등포구  398999
19   동작구  390377
20   관악구  502628
21   서초구  408979
22   강남구  537817
23   송파구  663704
24   강동구  464027

In [52]:
# 서울시 시군구 목록 데이터에 서울시 시군구별 인구통계 데이터를 병합
seoul_sgg = pd.merge(seoul_sgg, seoul_sgg_pop, how='left', on='시군구명')
seoul_sgg.head()

   시군구코드  시군구명         위도          경도  주민등록인구
0  11320   도봉구  37.665861  127.031767  312858
1  11380   은평구  37.617612  126.922700  468766
2  11230  동대문구  37.583801  127.050700  354884
3  11590   동작구  37.496504  126.944307  390377
4  11545   금천구  37.460097  126.900155  242467

In [55]:
seoul_sgg

    시군구코드  시군구명         위도          경도  주민등록인구
0   11320   도봉구  37.665861  127.031767  312858
1   11380   은평구  37.617612  126.922700  468766
2   11230  동대문구  37.583801  127.050700  354884
3   11590   동작구  37.496504  126.944307  390377
4   11545   금천구  37.460097  126.900155  242467
5   11530   구로구  37.495486  126.858121  417983
6   11110   종로구  37.599100  126.986149  152212
7   11305   강북구  37.646995  127.014716  296934
8   11260   중랑구  37.595379  127.093967  389928
9   11680   강남구  37.495985  127.066409  537817
10  11500   강서구  37.565762  126.822656  573711
11  11140    중구  37.557945  126.994190  131390
12  11740   강동구  37.549208  127.146482  464027
13  11215   광진구  37.548144  127.085753  350925
14  11440   마포구  37.562291  126.908780  376542
15  11650   서초구  37.476953  127.037810  408979
16  11290   성북구  37.606991  127.023218  441855
17  11350   노원구  37.655264  127.077120  506989
18  11710   송파구  37.504853  127.114482  663704
19  11410  서대문구  37.582037  126.935666  321966
20  11470   양천구  37.527062  126.856153  442345
21  11560  영등포구  37.520641  126.913924  398999
22  11620   관악구  37.465399  126.943807  502628
23  11200   성동구  37.550675  127.040962  287240
24  11170   용산구  37.531101  126.981074  232482

In [65]:
# 서울시 시군구 목록 데이터에 서울시 시군구별 사업체 수 통계 데이터를 병합

seoul_sgg_biz = pd.read_excel('./files/sgg_biz.xlsx')

seoul_sgg = pd.merge(seoul_starbucks_total, seoul_sgg_biz, how= 'left', on= '시군구명')

In [68]:
seoul_sgg = pd.merge(seoul_sgg, seoul_sgg_pop, how= 'left', on= '시군구명')

In [69]:
seoul_sgg

    시군구코드  시군구명         위도          경도  스타벅스_매장수    종사자수    사업체수  주민등록인구
0   11320   도봉구  37.665861  127.031767         7   79097   25391  312858
1   11380   은평구  37.617612  126.922700        14  109031   36509  468766
2   11230  동대문구  37.583801  127.050700        13  146383   42813  354884
3   11590   동작구  37.496504  126.944307        11  109281   27915  390377
4   11545   금천구  37.460097  126.900155        13  255449   47964  242467
5   11530   구로구  37.495486  126.858121        14  240689   52791  417983
6   11110   종로구  37.599100  126.986149        39  275063   48361  152212
7   11305   강북구  37.646995  127.014716         6   80222   26385  296934
8   11260   중랑구  37.595379  127.093967         8  113144   39310  389928
9   11680   강남구  37.495985  127.066409        91  801419  110007  537817
10  11500   강서구  37.565762  126.822656        27  290473   58806  573711
11  11140    중구  37.557945  126.994190        53  386564   70308  131390
12  11740   강동구  37.549208  127.146482        17  157465   41660  464027
13  11215   광진구  37.548144  127.085753        19  129707   33706  350925
14  11440   마포구  37.562291  126.908780        36  279788   56782  376542
15  11650   서초구  37.476953  127.037810        47  487976   71958  408979
16  11290   성북구  37.606991  127.023218        15  124004   34712  441855
17  11350   노원구  37.655264  127.077120        14  133398   37909  506989
18  11710   송파구  37.504853  127.114482        36  400781   74531  663704
19  11410  서대문구  37.582037  126.935666        22  118256   28522  321966
20  11470   양천구  37.527062  126.856153        17  133776   37929  442345
21  11560  영등포구  37.520641  126.913924        41  435017   74562  398999
22  11620   관악구  37.465399  126.943807        12  128417   37915  502628
23  11200   성동구  37.550675  127.040962        14  203221   41665  287240
24  11170   용산구  37.531101  126.981074        24  152605   29680  232482

In [71]:
seoul_sgg.to_excel('./files/seoul_sgg_stat.xlsx', index= False)